/* .home {
    width: 80%;
    margin:  auto;

}
h2 {
    margin-bottom: 0%;
    text-align: center;
    padding: 20px;
    border: solid;
    border-radius: 20px 20px 0% 0%;
    
}
li {
    margin: auto;
    width: 90%;
    padding: 10px;
    border: solid;
    margin-bottom: 10%;
}
ul {
    border: dashed;
    padding: 20px 0;
    border-radius: 0px 0px 20px 20px;
}

.last {
    border: solid;
    border-radius: 0px 0px 20px 20px;
}
 */
